.titulo{
    background-color: #E9DFF0;
    display: flex;
}

.titulo-contenido{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.titulo-contenido h1{
    font-family: "titulos";
    font-size: 5rem;
    font-weight: 800;
    color: #a01c4c;
    margin: 0;
    text-transform: uppercase;
}

.titulo-contenido p{
    font-family: "textos";
    font-size: 1rem;
    color: black;
    margin-top: 10px;
    max-width: 800px;
}

.informacion{
    display: flex;
    flex-direction: column;
    background-color: white
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.firmaimg{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.firmaimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firma-fecha{
    padding: 15px 20px 5px 20px;
}
 
.firma-fecha .dia{
    font-family: "textos";
    color: #a01c4c;
    font-size: 1.2rem;
    margin: 0;
}

.firma-fecha .numerodia{
    font-family: "titulos";
    color: #a01c4c;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.info-firma{
    padding: 0 20px 20px 20px;
    flex-grow: 1;
}

.info-firma .hora{
    display: block;
    font-family: "textos";
    color: #a01c4c;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.info-firma .autor{
    font-family: "titulos";
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    margin: 0;
}

@media (max-width: 768px) {
    .titulo-contenido h1 {
        font-size: 3rem;
    }
    .firmaimg {
        height: 200px;
    }
}
